name: Metrics
on:
  schedule:
    - cron: "0 6 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          user: srebroa
          token: ${{ secrets.GITHUB_TOKEN }}

          filename: assets/metrics.svg

          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Europe/Warsaw

          plugin_repositories: yes
          plugin_repositories_featured: yes
          plugin_repositories_pinned: 6
          plugin_repositories_starred: yes
          plugin_repositories_affiliations: owner, collaborator, organization_member

          plugin_languages: yes
          plugin_languages_limit: 8
          plugin_languages_details: bytes-size, percentage
          plugin_languages_indepth: yes
          plugin_languages_analysis_timeout: 15
          plugin_languages_ignored: html, css
